<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>ASCII Art Generator</title>
</head>



<body style="text-align: center;"></body>



<h1>ASCII Art Generator</h1>


<form action="/ascii-art" method="POST">

    <label for="text"><b>Enter your text:</b></label><br>
    <textarea id="text" name="text" rows="4" cols="50" placeholder="Type something... use \n for a new line"
        required>{{.Text}}</textarea>

    <br><br>
    <label><b>Choose a banner style:</b></label><br>
    <div class="banner" style="display: flex; align-items: center; justify-content: center;">

        <label><input type="radio" name="banner" value="standard" {{if eq .Banner "standard" }}checked{{end}}>
            Standard</label><br>
        <label><input type="radio" name="banner" value="shadow" {{if eq .Banner "shadow" }}checked{{end}}>
            Shadow</label><br>
        <label><input type="radio" name="banner" value="thinkertoy" {{if eq .Banner "thinkertoy" }}checked{{end}}>
            Thinkertoy</label><br>
        <br><br>
    </div>


    <button type="submit">Generate</button>

</form>
</div>

<div class="result" style="text-align: justify;">

    {{if .Result}}
    <h2>Result:</h2>
    <pre>{{.Result}}</pre>
    {{end}}

    {{if .Error}}
    <p>{{.Error}}</p>
    {{end}}
</div>

</body>

</html>